body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url("./img/background.jpg");
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto 1rem;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.633);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
}

p {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
  font-weight: 400;
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  background-color: #333974;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.todo {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit {
  background-color: #333974;
}

.complete {
  background-color: #329332;
}

.remove {
  background-color: #cb221c;
}

.todo-form {
  padding-bottom: 1.5rem;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  padding: 5px ;
  margin-bottom: 10px;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.filter, .search {
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}

.content {
  width: 70%;
  text-align: justify;
}

.botoes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}

.expand-btn {
  opacity: 0.5;
  cursor: pointer;
}

.edit-mode {
  width: 80%;
}

@media (max-width: 768px) {
  .app {
    padding: 15px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .todo {
    flex-direction: column;
    align-items: flex-start;
  }

  .content, .botoes {
    width: 100%;
  }

  .botoes {
    justify-content: left;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .app {
    padding: 10px;
  }

  h1 {
    font-size: 1.2rem;
  }

  .filter-options {
    flex-direction: space-between;
  }

  .todo {
    padding: 10px;
  }

  button {
    padding: 5px;
  }
}